---
---

@import "{{ site.theme }}";

body {
    background: #393939;
    color: antiquewhite;
}

header {
    width: inherit;
}

a {
    color: #5dcffe;
}

nav ul a {
    color: antiquewhite;
}


section {
    color: blanchedalmond;
    background: black;

    box-shadow: 0px 3px 20px black;
    border: 1px solid #3d3d3d;

    h1, h2, h3, h4, h5, h6 {
        color: darkgoldenrod;
        margin: 0 0 10px;
        }

}

@media print, screen and (max-width: 1060px) {
    header {
        font-size: 24px;
        position: relative;
        padding: 5px 0px;

    }
    section {
    margin-top: 0px;
    padding: 10px;
    border: none;
    }
    #banner{
        display: none;
    }
}
